# Pip generated
*.egg-info/
build/
dist/

# Compiled
*.so
*.pyc

# cmake
#######
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
.cache/

# setuptools_scm generated
src/pyvista_stl/_version.py