name: Build and upload

on:
  pull_request:
  push:
    tags:
    - '*'
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-latest, macos-15-intel]

    steps:
    - uses: actions/checkout@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3.0

    - uses: actions/upload-artifact@v6
      with:
        name: stl-reader-wheels-${{ matrix.os }}
        path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Build sdist
      run: pipx run build --sdist

    - name: Install from sdist
      run: pip install dist/stl*.tar.gz

    - name: Run tests
      run: |
        pip install pyvista pytest
        pytest -x

    - uses: actions/upload-artifact@v6
      with:
        name: stl-reader-sdist
        path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')  # upload to PyPI on every tag
    environment:
      name: pypi
      url: https://pypi.org/p/stl-reader
    permissions:
      id-token: write  # this permission is mandatory for trusted publishing
      contents: write  # required to create a release
    steps:
    - uses: actions/download-artifact@v7
      with:
        path: dist
        merge-multiple: true
    - run: ls -alR dist/
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          ./dist/*.whl
